/* ========= Обнуление и общие настройки ========== */
@import "null.css";

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

body {
   background: url(../img/img_bg.jpg) 0 0 / cover fixed;
   font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
   font-weight: 400;
   font-style: normal;
}

/* Шрифты: Press Start 2P: 400, Rubik Mono One: 400 */

/* ========= Header ========== */

.container {
   margin: 0 auto;
   height: 100%;
   max-width: 1000px;
}

.header {
   max-width: 1000px;
   min-height: 100px;
   background-color: black;
   border-radius: 0 0 10px 10px;
   border: 1px solid rgb(255, 255, 255);
   text-align: center;
   padding-top: 10px;
   margin-bottom: 30px;
}

.header h1, h2 {
   color: rgba(255, 255, 255, 0.63);
   font-size: 25px;
   margin-bottom: 10px;
}

.header:last-child {
   margin-bottom: 0;
}

.title {
   color: rgba(255, 255, 255, 0.63);
   font-size: 25px;
   margin-top: 25px;
}

.win-title {
   color: rgb(218, 204, 19);
   font-size: 70px;
   margin-top: 50px;
}

/* ========= Game ========== */

.game {
   max-width: 1000px;
   min-height: 800px;
   background: url(../img/img_b1.jpg) center / cover no-repeat;
   border-radius: 3px;
   border: 1px solid white;
   text-align: center;
   padding-top: 100px;
}

.game-win {
   max-width: 1000px;
   min-height: 800px;
   background: url(../img/bg_win.gif) center / cover no-repeat;
   border-radius: 3px;
   border: 1px solid white;
   text-align: center;
   padding-top: 100px;
}


.start-button {
   font-family: "Rubik Mono One ", Arial, Helvetica, sans-serif;
   width: 400px;
   height: 50px;
   background-color: black;
   text-align: center;
   padding: 13px;
   border-radius: 10px;
   border: 1px solid white;
   color: white;
   display: inline-block;
   margin-bottom: 30px;
   font-size: 23px;
}

.game__line {
   background-color: yellow;
}

.game__line-1 {
   width: 20px;
   height: 20px;
   background-color: green;
}

.game__line-2 {
   width: 20px;
   height: 20px;
}

.game__line-2:hover {
   width: 110px;
   height: 20px;
}

.game__line-3 {
   width: 20px;
   height: 20px;
   margin-left: 110px;
   margin-top: -20px;
   display: none;
}

.game__line-3:hover {
   width: 100px;
   height: 20px;
   display: none;
}


.game__line-2:hover ~ .game__line-3, .game__line-3:hover {
   display: block;
}

.game__line-4 {
   width: 20px;
   height: 20px;
   margin-left: 200px;
   margin-top: -20px;
   display: none;
}

.game__line-4:hover {
   width: 20px;
   height: 50px;
}

.game__line-3:hover ~ .game__line-4, .game__line-4:hover {
   display: block;
}

.game__line-5 {
   width: 20px;
   height: 20px;
   margin-left: 80px;
   margin-top: -40px;
   display: none;
}

.game__line-5:hover {
   width: 20px;
   height: 100px;
   margin-top: -120px;
}

.game__line-2:hover ~ .game__line-5, .game__line-5:hover {
   display: block;
}

.game__line-6 {
   width: 20px;
   height: 20px;
   margin-left: 80px;
   margin-top: -100px;
   display: none;
}

.game__line-6:hover {
   width: 800px;
   height: 20px;
   margin-top: -120px;
   display: block;
}

.game__line-5:hover ~ .game__line-6, .game__line-6:hover {
   display: block;
}

.game__line-7 {
   width: 20px;
   height: 20px;
   margin-left: 870px;
   margin-top: -20px;
   display: none;
}

.game__line-7:hover {
   width: 20px;
   height: 400px;
   margin-top: -120px;
}

.game__line-6:hover ~ .game__line-7, .game__line-7:hover {
   display: block;
}

.game__line-8 {
   width: 20px;
   height: 20px;
   margin-left: 890px;
   margin-top: -100px;
   display: none;
   background-color: yellow;
}

.game__line-8:hover {
   width: 100px;
   height: 20px;
   margin-left: 890px;
   margin-top: 180px;
}

.game__line-7:hover ~ .game__line-8, .game__line-8:hover {
   display: block;
}

.game__line-9 {
   width: 20px;
   height: 20px;
   margin-left: 850px;
   margin-top: 60px;
   display: none;
   background-color: yellow;
}

.game__line-9:hover {
   width: 500px;
   height: 20px;
   margin-left: 370px;
   margin-top: 260px;
}

.game__line-7:hover ~ .game__line-9, .game__line-9:hover {
   display: block;
}

.game__line-10 {
   width: 20px;
   height: 20px;
   margin-left: 370px;
   display: none;
   background-color: yellow;
}

.game__line-10:hover {
   width: 20px;
   height: 200px;
   margin-left: 370px;
   margin-top: 260px;
}

.game__line-9:hover ~ .game__line-10, .game__line-10:hover {
   display: block;
}

.game__line-11 {
   width: 20px;
   height: 20px;
   margin-left: 350px;
   margin-top: -20px;
   display: none;
   background-color: yellow;
}

.game__line-11:hover {
   width: 50px;
   height: 20px;
   margin-left: 330px;
   margin-top: 440px;
}

.game__line-10:hover ~ .game__line-11, .game__line-11:hover {
   display: block;
}

.game__line-12 {
   width: 20px;
   height: 20px;
   margin-left: 390px;
   margin-top: -20px;
   display: none;
   background-color: yellow;
}

.game__line-12:hover {
   width: 100px;
   height: 20px;
   margin-left: 380px;
   margin-top: 440px;
}

.game__line-10:hover ~ .game__line-12, .game__line-12:hover {
   display: block;
}

.game__line-13 {
   width: 20px;
   height: 20px;
   margin-left: 370px;
   display: none;
   background-color: yellow;
}

.game__line-13:hover {
   width: 20px;
   height: 100px;
   margin-left: 370px;
   margin-top: 430px;
}

.game__line-10:hover ~ .game__line-13, .game__line-13:hover {
   display: block;
}

.game__line-14 {
   width: 20px;
   height: 20px;
   margin-left: 370px;
   display: none;
   background-color: yellow;
}

.game__line-14:hover {
   width: 200px;
   height: 20px;
   margin-left: 370px;
   margin-top: 520px;
}

.game__line-13:hover ~ .game__line-14, .game__line-14:hover {
   display: block;
}

.game__line-15 {
   width: 20px;
   height: 20px;
   margin-left: 550px;
   margin-top: -20px;
   display: none;  
   background-color: yellow;
}

.game__line-15:hover {
   width: 200px;
   height: 20px;
   margin-left: 540px;
   margin-top: 520px;
}

.game__line-14:hover ~ .game__line-15, .game__line-15:hover {
   display: block;
}

.game__line-16 {
   width: 200px;
   height: 200px;
   margin-left: 700px;
   margin-top: -20px;
   display: none;
   border-radius: 20px;
   outline: 1px solid yellow;
}

.game__line-16 img {
   width: 100%;
   height: 100%;
   border-radius: 20px;
}

.game__line-16:hover {
   width: 200px;
   height: 200px;
   margin-left: 700px;
   margin-top: 480px;
}

.game__line-15:hover ~ .game__line-16, .game__line-16:hover {
   display: block;
}
