@import "null.css";

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
   max-width: 810px;
   height: 100%;
   margin: 0 auto;
   text-align: center;
}


/* ========== Header ========== */

.header h1 {
   text-align: left;
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 900;
   font-style: normal;
   font-size: 46px;
   line-height: 1.3;
   margin-bottom: 44px;
}

.date-and-time {
   text-align: left;
   margin-bottom: 47px;
   height: 100%;
   display: inline-block;
}

.img-main {
   margin-bottom: 50px;
}

.date {
   display: inline-block;
   padding-left: 20px;
   background: url(../img/Calendar.png) left / 16px 16px no-repeat;
}

.time {
   display: inline-block;
   padding-left: 20px;
   background: url(../img/Clock.png) left / 16px 16px no-repeat;
   margin-left: 24px;
}

.date-and-time span {
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 400;
   line-height: 1.6;
   font-size: 16px;
   color: rgba(120, 122, 128, 1);
}

span.share {
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 700;
   line-height: 1.6;
   font-size: 16px;
   color: #1E212C;
   display: inline-block;
   margin-left: 390px;
}

.share img {
   margin-left: 20px;
}

.share img:hover {
   background-color: blue;
}

/* ========== Main ========== */

.main {
   margin-bottom: 75px;
}

.about-text.bold {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 700;
   font-style: normal;
   font-size: 20px;
   line-height: 1.5;
   margin-bottom: 24px;
}

.about-text-1 {
   margin-bottom: 20px;
}

.about p {
   color: #424551;
   font-family: 'Lato';
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.6;
}

.about-outer {
   text-align: left;
   margin-bottom: 48px;
}

/* ========== Review ========== */

.review p {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 700;
   font-style: normal;
   font-size: 20px;
   line-height: 1.5;
   background: url(../img/braces.png) 0 0 / 28px 20px no-repeat;
   padding-left: 58px;
}

.review-outer {
   text-align: left;
   margin-bottom: 48px;
}

/* ========== Achievements ========== */

.company-achievements {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.6;
}
.company-achievements p {
   margin-bottom: 24px;
}

.list {
   list-style-type: none;
}

.list li {
   background: url(../img/check.png) left / auto no-repeat;
   padding-left: 30px;
   margin-bottom: 5px;
}

.company-outer {
   text-align: left;
   margin-bottom: 24px;
}

/* ========== Down text ========== */

.about-down-text {
   text-align: left;
}

.about-down-text p {
   color: #1E212C;
   font-family: 'Lato';
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.6;
}

/* ========== Footer ========== */

.footer {
   width: 100%;
   height: 100%;
   text-align: right;
}